{%- if section.settings.show_product_recommendations %}
    <div
      class="product-recommendations"
      data-product-id="{{ product.id }}"
      data-limit="8"
      data-recommendations-url="{{ routes.product_recommendations_url }}"
      data-wetheme-section-type="template--product--recommendations"
      data-wetheme-section-id="{{ section.id }}"
    >

        {%- if recommendations.products_count > 0 -%}


            <div class="product-page-related-products product-sticker-stop">

                <div class="wrapper main-content{% if section.settings.match-height %} products--match-height{% endif %}" role="main">

                    <aside class="grid">
                        <div class="grid__item">
                            {% unless section.settings.product_recommendations_heading == blank %}
                                <div class="sitewide--title-wrapper">
                                    <h2 class="page--title">{{ section.settings.product_recommendations_heading }}</h2>
                                </div>
                            {% endunless %}
                            <div class="swiper-container product-recommendations__slideshow">
                                <div class="swiper-wrapper">
                                    {%- for product in recommendations.products -%}
                                        {% comment %}
                                            Check if the product is on sale and set a variable to be used below.
                                        {% endcomment %}
                                        {% assign on_sale = false %}
                                        {% if product.compare_at_price > product.price %}
                                            {% assign on_sale = true %}
                                        {% endif %}

                                        {% comment %}
                                            Check if the product is sold out and set a variable to be used below.
                                        {% endcomment %}
                                        {% assign sold_out = true %}
                                        {% if product.available %}
                                            {% assign sold_out = false %}
                                        {% endif %}

                                        <div class="grid__item swiper-slide">
                                            <div class="grid-view-item">
                                              {% render 'grid-view-item', product: product, collection: null, hover_effect: false, quick_shop: section.settings.quick_shop_enable, show_vendor: false, show_reviews: settings.show_reviews %}
                                            </div>
                                        </div>
                                    {%- endfor -%}
                                </div>
                            </div>
                            <div class="swiper-button--prev">
                                <i class="fa fa-chevron-left"></i>
                            </div>
                            <div class="swiper-button--next">
                                <i class="fa fa-chevron-right"></i>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        {%- endif -%}
    </div>
{%- endif -%}

{% schema %}
{
    "name": {
        "en": "Product recommendations",
        "de": "Produktempfehlungen",
        "es": "Recomendaciones de productos",
        "fr": "Recommandations de produits",
        "pt-PT": "Recomendações de produtos"
    },
    "settings": [
        {
            "type": "checkbox",
            "id": "show_product_recommendations",
            "label": {
                "en": "Show dynamic recommendations",
                "de": "Dynamische Empfehlungen anzeigen",
                "es": "Mostrar recomendaciones dinámicas",
                "fr": "Montrer des recommandations dynamiques",
                "pt-PT": "Mostrar recomendações dinâmicas"
            },
            "info": {
                "en": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
                "de": "Dynamische Empfehlungen verändern und verbessern sich mit der Zeit. [Mehr erfahren](https://help.shopify.com/en/themes/development/recommended-products)",
                "es": "Las recomendaciones dinámicas cambian y mejoran con el tiempo. [Aprenda más](https://help.shopify.com/en/themes/development/recommended-products)",
                "fr": "Les recommandations dynamiques changent et s'améliorent avec le temps. [En savoir plus](https://help.shopify.com/en/themes/development/recommended-products)",
                "pt-PT": "As recomendações dinâmicas mudam e melhoram com o tempo. [Saber mais](https://help.shopify.com/en/themes/development/recommended-products)"
            },
            "default": true
        },
        {
            "type": "text",
            "id": "product_recommendations_heading",
            "label": {
                "en": "Heading",
                "de": "Überschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "Título"
            },
            "default": {
                "en": "You may also like",
                "de": "Ihnen könnte auch gefallen",
                "es": "También podría gustarle",
                "fr": "Vous aimerez peut-être aussi",
                "pt-PT": "Também poderá gostar de"
            }
        },
        {
            "type": "checkbox",
            "id": "quick_shop_enable",
            "label": {
                "en": "Show 'Quick view'",
                "de": "Schnellansicht' anzeigen",
                "es": "Mostrar 'Vista rápida'",
                "fr": "Afficher 'Vue rapide'.",
                "pt-PT": "Mostrar \"Visualização rápida\""
            },
            "default": false
        },
        {
            "type": "checkbox",
            "id": "match-height",
            "label": {
                "en": "Enable auto-height",
                "de": "Automatische Höhe aktivieren",
                "es": "Habilitar altura automática",
                "fr": "Activer la hauteur automatique",
                "pt-PT": "Ativar configuração automática de altura"
            },
            "default": false
        }
    ]
}
{% endschema %}
